@using SeedPacket.Extensions
@using MvcExamples.Models
@{
    // version1:
    var exampleList = new List<Example>().Seed(20, 100, "~/SourceFiles/jsonseedsource.json");
    // version2: var exampleList = new List<Example>().Seed(generator: new MultiGenerator("~/SourceFiles/jsonseedsource.json"));
    // version3: 
    //var multi = new MultiGenerator("~/SourceFiles/jsonseedsource.json")
    //{
    //    Debugging = true,
    //    BaseRandom = new Random(24)
    //};
    //dual.Rules.Add(new Rule(typeof(DateTime), "Create%", g => g.BaseDateTime.AddDays(g.RowRandom.Next(-30, 1)), "DateTime Created In Last Month"));
    //var exampleList = new List<Example>().Seed(generator: multi, seedEnd: 50);

}
<div class="row">
    <div class="col-md-12">
        <h3>Examples</h3>
    </div>
    <div class="col-md-12" id="rowResults">
        <table class="table table-striped topSpace">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Investments</th>
                    <th>State</th>
                    <th>Created</th>
                    <th>New Field</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var example in exampleList)
                {
                    <tr>
                        <td>@example.Id</td>
                        <td>@example.FirstName</td>
                        <td>@example.LastName</td>
                        <td>@example.Email</td>
                        <td>@example.Investments</td>
                        <td>@example.State</td>
                        <td>@example.Created</td>
                        <td>@example.Properties</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
