@using SeedPacket.Extensions
@using SeedPacket.Examples
@using MvcExamples.Models

@{
    // inline in view to RAD or web pages purposes
    var generator = new DualGenerator()
    {
        BaseDateTime = Convert.ToDateTime("1/1/2020"),
        Rules = {
            new Rule(typeof(List<Item>), "",        g => ExampleRules.AddItems<Item>(g, 5),                 "NestedList"),
            new Rule(typeof(DateTime), "Create%",   g => g.BaseDateTime.AddDays (g.RowRandom.Next(-30, 1)), "DateTimeInLastMonth")
        }
    };
    var items = new List<Example>().Seed(100, 107, generator);
}
<table class="table table table-striped topSpace">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>NetWorth</th>
            <th>Investments</th>
            <th>Email</th>
            <th>ExampleGuid</th>
            <th>Created</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in items){
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName @item.LastName</td>
            <td>@(string.Format("{0:C}", item.NetWorth))</td>
            <td>@(string.Format("{0:C}", item.Investments))</td>
            <td>@item.Email</td>
            <td>@item.ExampleGuid</td>
            <td>@item.Created.ToShortDateString()</td>
            <td>@PropertiesList(item.Properties)</td>
        </tr>
    }
    </tbody>
</table>

@helper PropertiesList(List<Item> itemList){

        if (itemList.Any()) {
            @Html.DropDownList("Properties", itemList.Select(f => new SelectListItem { Value = f.ItemId.ToString(), Text = f.ItemName }), new { style = "width: 100px;" });
        } else {
        @:None  
    }
}






