@using SeedPacket.Extensions
@using SeedPacket.Examples
@using SeedPacket.Functions
@using SeedPacket.Interfaces
@using MvcExamples.Models

@{
    // inline in view for RAD or web pages purposes
    var generator = new MultiGenerator()
    {
        BaseDateTime = Convert.ToDateTime("1/1/2020"),
        Rules = {
            new Rule(typeof(int), "SelectedProperty", g => g.RowRandom.Next(1, 11), "ItemList"),
            new Rule(typeof(List<Item>), "",          g => func.NextCacheItems<Item>(g, g.Cache.Items, 10, 10, false), "ItemList"),
            new Rule(typeof(DateTime), "Create%",     g => g.BaseDateTime.AddDays (g.RowRandom.Next(-30, 1)), "DateTimeInLastMonth")
        },
        Debugging = true
    };
    generator.Cache.Items = new List<Item>().Seed(1, 10, generator);

    var examples = new List<Example>().Seed(100, 107, generator);
}

<table class="table table table-striped topSpace">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>NetWorth</th>
            <th>Investments</th>
            <th>Email</th>
            <th>ExampleGuid</th>
            <th>Created</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ex in examples)
    {
        <tr>
            <td>@ex.Id</td>
            <td>@ex.FirstName @ex.LastName</td>
            <td>@(string.Format("{0:C}", ex.NetWorth))</td>
            <td>@(string.Format("{0:C}", ex.Investments))</td>
            <td>@ex.Email</td>
            <td>@ex.ExampleGuid</td>
            <td>@ex.Created.ToShortDateString()</td>
            <td>
                @Html.DropDownListFor(a => ex.SelectedProperty, new SelectList(ex.Properties, "ItemId", "ItemName"))
            </td>
        </tr>
    }
    </tbody>
</table>

@helper PropertiesList(List<Item> itemList){

    if (itemList.Any())
    {
        @Html.DropDownList("Properties", itemList.Select(f => new SelectListItem { Value = f.ItemId.ToString(), Text = f.ItemName }), new { style = "width: 100px;" });
    }
    else
    {
        @:None  
    }
}






