@using SeedPacket.Examples.Logic.Extensions;
@using SeedPacket.Examples.Logic.Models;

<div class="row topSpace">
    <div class="col-md-12">
        <table class="table table table-striped topSpace">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Released</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in new List<Song>().Seed(15).ToList())
                {
                    <tr>
                        <td>@song.Ranking</td>
                        <td>@song.SongTitle</td>
                        <td>@song.AlbumName</td>
                        <td>@song.Artist</td>
                        <td>@song.Released.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>