@using SeedPacket.Examples.Logic.Extensions
@using SeedPacket.Examples.Logic.Models

@{

    var example = new Company().SeedOne();
}

<div class="seedOne top-margin">
    <div>
        <span>Id:</span>@example.Id
    </div>
    <div>
        <span>Guid:</span>@example.ExampleGuid
    </div>
    <div>
        <span>Ceo:</span>@example.Ceo
    </div>
    <div>
        <span>CompanyName:</span>@example.CompanyName
    </div>
    <div>
        <span>Net Worth:</span>$@(example.NetWorth)k
    </div>
    <div>
        <span>Notes:</span>@example.Notes
    </div>
</div>