@using Examples.Models
@model List<AppUser>

<div id="rowResults">
    <table class="table table-striped topSpace table-collapse-sm">
        <thead>
            <tr>
                <th>UserId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Created</th>
                <th>RandomNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppUser user in Model)
            {
            <tr>
                <td>@user.UserId</td>
                <td>@(!string.IsNullOrEmpty(user.FirstName) ? user.FirstName : "---")</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Created.ToString("MM/dd/yyyy")</td>
                <td>@user.RandomNumber</td>
            </tr>
            }
        </tbody>
    </table>
</div>
