
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <!-- Hamburger Menu -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- NavBar -->
            <div class="navbar-collapse collapse" id="navBarCollapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.ActiveToggle("Home","Index")">@Html.ActionLink("Home", "Index", "Home")</li>'
                    <li class="@Html.ActiveToggle("Ajax","Index")">@Html.ActionLink("Ajax", "Index", "Ajax")</li>
                    <li class="@Html.ActiveToggle("Generator","Index")">@Html.ActionLink("Generator", "Index", "Generator")</li>
                    <li class="@Html.ActiveToggle("Extending","Index")">@Html.ActionLink("Extending", "Index", "Extending")</li>
                    <li class="@Html.ActiveToggle("Rows","Index")">@Html.ActionLink("25k Rows", "Index", "Rows")</li>
                    <li class="@Html.ActiveToggle("Teams","Index")">@Html.ActionLink("Teams", "Index", "Teams")</li>
                    <li class="@Html.ActiveToggle("Rules","Index")">@Html.ActionLink("Rules List", "Index", "Rules")</li>
                </ul>
            </div>

        </div>
    </div>
